<h2> Office Employees </h2>

<ul>
	<li>
		Name: <%=@employee.first_name %>
		<%=@employee.last_name %> <br>
		Alias: <%=@employee.alias %> <br>
		Office: <%=@employee.office %> <br>
		Dog: <%= @employee.dog.name %>
	</li>
</ul>
