<h1>This Employee is: </h1>

<img src= '<%=@employee.img_url%>'><br>
<h1><label>Name: </label>
<%=@employee.first_name%> <%=@employee.last_name%><br>
<label>Alias: </label>
<%=@employee.alias%><br>
<label>Title: </label>
<%=@employee.title%><br>
<label>Office: </label>
<%=@employee.office%><br></h1>






<!-- t.string "first_name"
t.string "last_name"
t.string "alias"
t.string "title"
t.string "office"
t.string "img_url" -->
