<h1><%= @employee.first_name %>  <%= @employee.last_name %> </h1> <br>
<br>

<%= @employee.alias %> <br>
<br>

<%= @employee.title %> <br>
<br>

<%= @employee.office %> <br>
<br>



<img src="<%= @employee.img_url %>" alt="employee picture">
