<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dog Page</title>
  </head>
  <body>
    <ul>
      <li><%= @dog.name %></li>
      <li><%= @dog.breed %></li>
      <li><%= @dog.age %></li>
    </ul>
    <ul>
      <% @dog.employees.each do |employee| %>
        <li><%=employee.first_name%> <%=employee.last_name%></li>
        <% end %>
    </ul>
  </body>
