<h1><%= @dog.name %></h1>
<h3><%= @dog.breed %></h3>
<h3><%= @dog.age %></h3>

<h2>Owners</h2>
  <ul>
    <% @dog.employees.each do |employee| %>
      <li><%= employee.first_name %> <%= employee.last_name %></li>
    <% end %>
  </ul>

<%= link_to "Dog Index", dogs_path %>
